<div class="container">
  <div class="row">
    <div class="col">


        {{#each items as |item|}}
        <div class="card-columns">
          <div class="card">
            <img src="data:{{item.img.contentType}};base64,{{item.img.data}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.description}}</p>
            </div>
          </div>
        </div>

      {{/each}}


    </div>
  </div>
</div>
