

<div class="container">
  <div class="row">
    <div class="col">

      <form action="/items" method="post"  enctype="multipart/form-data">
        <legend>New Item</legend>

        <div class="form-group">
          <label for="item-name">Item name</label>
          <input type="text" name="name" class="form-control" id="item-name" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="item-description">Description</label>
          <input type="text" name="description" class="form-control" id="item-description" placeholder="Description">
        </div>

        <div class="form-group">
          <label for="item-location">Location</label>
          <input type="text" name="location" class="form-control" id="item-location" placeholder="location">
        </div>

        <div class="form-group">
          <label for="item-price">Item Price</label>
          <input type="number" min="0" name="price" class="form-control" id="item-price" value="0">
        </div>

        <div class="form-group">
          <label for="item-img">Image</label>
          <input type="text" name="img" class='form-control' id="item-img" placeholder="Image Name" >
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>


    </div>

  </div>

</div>
